<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img src="../../../assets/netflix.png" alt="slide image" />
    </div>
    <div class="slide-pane">
      <h3 class="title">title</h3>
      <div class="meta">
        <div class="rating">
          <i class="pi pi-star-fill"></i>
          <span>8.0 / 10</span>
        </div>
        <div class="votes">
          <i class="pi pi-users"></i>
          <span>1234</span>
        </div>
        <div class="release-date">
          <i class="pi pi-calendar"></i>
          <span>12.12.1212</span>
        </div>
      </div>
      <div class="describtion">
        <p>some text</p>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="popularMovies">
  <div *ngFor="let movie of popularMovies">
    <div>{{ movie }}</div>
  </div>
</div> -->
